$background: #4c4f69;
$tooltip-background: #eff1f5;
$text-color-1: #e6e9ef;
$text-color-2: #dc8a78;
$icon-color: #e6e9ef;

* {
  font-family: Verdana, Arial, Helvetica, FontAwesome, Roboto, sans-serif;
  border: none;
}

#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */
#workspaces button {
  color: $text-color-1;
  transition: all 0.5s ease-in-out;
}

#workspaces button.active,
#workspaces button:hover {
  color: $background;
  background: $text-color-1;
  border-radius: 15px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  background-color: $tooltip-background;
  padding: 20px;
}

tooltip label {
  color: $text-color-2;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

#custom-apps,
#workspaces,
#status,
#system {
  background: $background;
  color: $icon-color;
  border-radius: 15px;
}

#apps,
#workspaces,
#custom-apps,
#custom-power,
#clock,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#bluetooth.on,
#bluetooth.connected,
#power-profiles-daemon,
#battery,
#tray {
  padding: 4px 8px;
  font-size: 18px;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
}

#battery.charging,
#battery.plugged {
  color: $icon-color;
}

@keyframes blink {
  to {
    background-color: $background;
    color: $text-color-2;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
