* {
    font-family: JetBrainsMono;
    padding: 1px 6px;
    color: white; 
}

window#waybar {
    font-size: 14px;
    color: white;
    font-weight: normal;
    background: transparent;
    border-radius: 40px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#battery,
#clock, 
#network,
#pulseaudio,
#custom-launcher,
#custom-power {
    color: white;
    background-color: #24283b;
    border-radius: 20px;
    margin: 1px 9px;
}

label:focus {
    background-color: #000;
}

#battery.warning.charging *{
    color: white;
}

#battery.critical *{
    color: #e06c75;
}

#tags button {
    background-color: #24283b;
    color: white;
    border-radius: 15px;
    margin: 0 3px;
}

#tags button.occupied {
    margin: 0 3px;
    background-color: #194aac;
}

#tags button.focused {
    color: #000;
    margin: 0 3px;
    background-color: white;
}

#tags button.urgent{
    color: red;
    margin: 0 3px;
    background-color:white;
}

/*BORDER RADIUS*/
#custom-launcher {
    border-radius: 3px 10px 3px 10px;
}

#clock, 
#network,
#pulseaudio,
#custom-power {
    border-radius: 10px 3px 10px 3px;
}

#custom-launcher,
#custom-power {
    color: white;
    font-size: 15px;
}

#clock {
    background: #6F8FAF;
}

#pulseaudio {
    background: #D70040;
}

#network {
    background: #00A36C;
}

#battery {
    background: #F4BB44;
}

#workspaces {
    border-radius: 10px;
    font-size: 15px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: animate 21s ease infinite;
}

#workspaces button.urgent * {
    color: #630330;
}
