$background-light: #ffffff;
$background-dark: #2b25259d;
$workspaces-background-1: #ffffff;
$workspaces-background-2: #cccccc;
$border-color: #ffffff;
$text-color-1: #ffffff;
$text-color-2: #000000;
$icon-color: #ffffff;

* {
  background-image: none;
  font-size: 14px;
}

window {
  background-color: transparent;
}

button {
  color: $text-color-1;
  background-color: $background-dark;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-color: $background-dark;
  background-size: 20%;
}

button:hover {
  background-color: $background-dark;
  background-size: 25%;
  border-radius: 12px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#lock {
  border-radius: 14px 14px 0px 14px;
  margin: 4px 0px 0px 4px;
}

button:hover#logout {
  border-radius: 14px 0px 14px 14px;
  margin: 0px 0px 4px 4px;
}

button:hover#shutdown {
  border-radius: 14px 14px 14px 0px;
  margin: 4px 4px 0px 0px;
}

button:hover#reboot {
  border-radius: 0px 14px 14px 14px;
  margin: 0px 4px 4px 0px;
}

#lock {
  background-image: image(
    url("$HOME/.config/wlogout/icons/lock_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
  border-radius: 14px 0px 0px 0px;
  margin: 4px 0px 0px 4px;
}

#logout {
  background-image: image(
    url("$HOME/.config/wlogout/icons/logout_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
  border-radius: 0px 0px 0px 14px;
  margin: 0px 0px 4px 4px;
}

#shutdown {
  background-image: image(
    url("$HOME/.config/wlogout/icons/shutdown_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
  border-radius: 0px 14px 0px 0px;
  margin: 4px 4px 0px 0px;
}

#reboot {
  background-image: image(
    url("$HOME/.config/wlogout/icons/reboot_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
  border-radius: 0px 0px 14px 0px;
  margin: 0px 4px 4px 0px;
}
